.sub-view {
    width: 100%;
    height: 350px;
    margin-bottom: 160vh;
    background-image: url(../image/878323_m.jpg);
    background-size: cover;
    background-position: bottom -80px right 0;
    position: relative;
}
.sub-view1 {
    width: 100%;
    height: 350px;
    margin-bottom: 400vh;
    background-image: url(../image/878323_m.jpg);
    background-size: cover;
    background-position: bottom -80px right 0;
    position: relative;
}
.sub-view2 {
    width: 100%;
    height: 350px;
    margin-bottom: 250vh;
    background-image: url(../image/878323_m.jpg);
    background-size: cover;
    background-position: bottom -80px right 0;
    position: relative;
}

.sub-view3 {
    width: 100%;
    height: 350px;
    margin-bottom: 220vh;
    background-image: url(../image/878323_m.jpg);
    background-size: cover;
    background-position: bottom -80px right 0;
    position: relative;
}
.sub-view4 {
    width: 100%;
    height: 350px;
    margin-bottom: 450vh;
    background-image: url(../image/878323_m.jpg);
    background-size: cover;
    background-position: bottom -80px right 0;
    position: relative;
}

.view-wrap {
    width: 80vw;
    min-width: 900px;
    height: 800px;
    opacity: 0.9;
    background-color: white;
    position: absolute;
    top: 180px;
    right: 0;
    left:0;
    margin: auto;
    border-radius: 30px;
    .access-log {
        margin-left: 30px;
        margin-top: 30px;
    }
    .sub-title {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 100px;
        h1 {
            font-size: 50px;
            background:linear-gradient(red,orange);
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
        }
    }
}

.contents-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    img {
        width: 30vw;
        height: 20vw;
    }
    .contents-text {
        width: 55%;
        padding: 30px;
        h1 {
            text-align: center;
            font-size: 40px;
            background:linear-gradient(red,orange);
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
        }
        h2 {
            font-size: 20px;
            line-height: 40px;
        }
    }
} 
.contents-wrap2 {
    margin-top: 60px;
    display:flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    img {
        width: 30vw;
        height: 20vw;
    }
    .contents-text {
        width: 55%;
        padding: 30px;
        h1 {
            text-align: center;
            font-size: 40px;
            background:linear-gradient(red,orange);
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
        }
        h2 {
            font-size: 20px;
            line-height: 40px;
        }
    }
} 