#top-view {
    width: 100%;
    height: 95vh;
    background-image: url(../image/3960116_m.jpg);
    background-size: cover;
    #mask {
        width: 100%;
        height: 100%;
        background: rgba($color: #2c2c2c, $alpha: 0.4);
        position: relative;
        p{
            font-size: 50px;
            color: white;
            position: absolute;
            bottom: 30px;
            left: 40px;
        }
    }
}