.view-wrap {
    h1 {
        text-align: center;
        font-size: 50px;
        background:linear-gradient(red,orange);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
    }
    h2{
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
    }
    table{
        width: 90%;
        margin: 0 auto;
        display: table;
        td {
            font-size: 20px;
            height: 100px;
            display: table-cell;
            vertical-align:middle;
        }
        tr {
            border-bottom: solid 1px;
        }
        .obj {
            text-align: center;
            width: 150px;
        }
    }
}

.work-gide {
    display: flex;
    width: 50%;
    clear: both;
    line-height: 30px;
    margin-bottom: 60px;
}
.work-gide2 {
    display: flex;
    width: 50%;
    float: right;
    line-height: 30px;
    margin-bottom: 60px;
}

.step-style {
    display: flex;
    justify-content: center;
    border-bottom: solid;
    margin-bottom: 30px;
    
    p {
        font-size: 30px;
        height: 100px;
        line-height: 100px;
    }
    .number {
        font-size: 50px;
    }
}

.apply-step {
    p {
        text-align: center;
    }
    .apply-title {
        font-size: 30px;
        font-weight: bold;
    }
}